.keyword {
    -fx-fill: #0033B3;
    -fx-font-weight: bold;
}

.semicolon {
    -fx-font-weight: bold;
}

.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}

.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}

.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}

.string {
    -fx-fill: #067D17;
}

.comment {
    -fx-fill: #8C8C8C;
}

.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}