/* Remove unnecessary padding in main window */
.titled-pane > .content,
.titled-pane > .content > AnchorPane,
.titled-pane > .content > BorderPane,
.titled-pane > .content > FlowPane,
.titled-pane > .content > GridPane,
.titled-pane > .content > HBox,
.titled-pane > .content > Pane,
.titled-pane > .content > StackPane,
.titled-pane > .content > TilePane,
.titled-pane > .content > VBox {
    -fx-padding: 0 !important;
}

/* Remove unnecessary padding in remote code executor dialog */
.custom-dialog-pane > .content,
.custom-dialog-pane > .content > .VBox,
.custom-dialog-pane > .button-bar > .container {
    -fx-padding: 0 !important;
}

/* Titled pane title has too much padding; let's fix that */
.title {
    -fx-padding: 10;
}

/* Standardize font across the application */
.root {
    -fx-font-size: 14px;
}
